.fontStyle {
@font-face {
    font-family: "my-font";
    src: local("my-font") format("opentype");
  }
}
  body {
    font-family: "otf/my-font.otf", sans-serif;
    /* Any other styling you want to apply to the body of your page */
  }
