@mixin grid-item-style($border: true) {
  padding: 10px;
  text-align: center;
  background-color: $primary-color;
  color: $text-color;
  
  @if $border {
    border: 1px solid $tertiary-color;
  }
}

@mixin responsive-grid($columns) {
  @for $i from 1 through $columns {
    .grid-item:nth-child(#{$i}) {
      grid-column: span 1;
    }
  }
}

  