$primary-color: #FAD9E0; // pastel pink
$secondary-color: #FFFFFF;
$tertiary-color: #333333;
$accent-color: #fc7cc29a; // darker pastel pink
$text-color: #C6477B; // dark pink for better readability
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$font-family-cursive: 'Pacifico', cursive; // decorative font
$font-family-readable: 'Quicksand', sans-serif; // readable font
