@import 'mixins';

$grid-count:26;
/*color of the font global variable*/
$colorfont: #ff9bbd;
/*background color of webpage*/
$bgcolor:#ffc2d1;
/*border styles*/
$borderthicc:10px;
$bordercolor:rgba(245, 77, 119, 0.8);
/*background color for grid */
$gridcolor:#9bebff88;